
.body-reg {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background:#f3f3f3;
    color: #616060;
    margin:5%;
}

.card-reg {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 65px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fefeff;
    background-clip: border-box;
    border-radius: 0px;
    margin-left: 35%;
    margin-bottom: 0%;
    box-shadow: -3px 7px 12px 0px #cfcaca;
}

.btn-info {
        color: #fff;
        background-color: #a98df5;
        border-color: #a681d8;
        border-radius: 5px;
}

.form-input{
    border-radius: 5px;
    padding:7px;
    border-width: 1px;
    border-color: gray;
    border-top-color: gray;
}